.parent {
    display: grid;
    grid-template-columns: repeat(6, 0.5fr);
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1/ 2 / 4 / 3;
}

.div2 {
    grid-area: 3 / 2 / 3 / 3;
}

.div3 {
    grid-area: 5 / 1 / 5 / 2;
}

.div4 {
    grid-area: 5 / 2 / 5 / 3;
}

.div5 {
    grid-area: 5 / 3 / 5 / 4;
}

.div6 {
    grid-area: 6 / 4 / 5 / 5;
}

.div7 {
    grid-area: 6 / 5 / 5 / 6;
}

.div8 {
    grid-area: 1 / 5 / 4 / 6;
}

.div9 {
    grid-area: 3 / 5 / 3 / 6;
}


img {
    border: 4px solid black;
    cursor: pointer;
}

img:hover {
    border: 6px solid black
}

.karakterkep {
    border: 6px solid black;
    cursor: default;
}

.karakterkep:hover {
    border: 6px solid black;

}


div {
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
}
progress {
    width: 100%;
    height: 30px;
    appearance: none; /* Eltávolítja az alapértelmezett böngésző stílust */
}

.div6, .div7 {
    background-color: rgb(122, 128, 135);
    cursor: pointer;
    border: 3px solid black;

    border-radius: 15px;
    width: auto;
    height: 50%;
}

.div6:hover, .div7:hover {
    background-color: rgb(88, 95, 97);
}
