@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Jacquard+12+Charted&family=Jacquard+24&family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Jacquard+12+Charted&family=Jacquard+24&family=Jaini&family=Jaro:opsz@6..72&display=swap');

body{
    align-items: center;
    text-align: center;
}

a{
    background-color: grey;
    font-family: "Jaini";
}

a:hover{
    text-decoration: none;
}
