.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.div1 {
    grid-area: 2 / 2 / 3 / 3;
}

.div2 {
    grid-area: 3 / 2 / 4 / 3;
}

.div3 {
    grid-area: 2 / 4 / 3 / 5;
}

.div4 {
    grid-area: 5 / 5 / 6 / 6;
}


/* CSS for mission list */
ul.mission-list {
    list-style-type: none;
    padding: 10px;
}

ul.mission-list li {
    margin: 40px;
}

ul.mission-list li input[type="submit"] {
    height: auto;

    background-color: lightgrey;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    font-size: 40px;
    align-items: center;
    align-content: center;


}

ul.mission-list li input[type="submit"]:hover {
    background-color: #5C4033;
    color: lightgrey;
    font-size: 42px;


}

a{
    background-color: #5C4033;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 110%;
    display: block;
    white-space: nowrap;
}

a:hover {
    border: 1px solid black;
    text-decoration: none;
}

#btn:hover {
    text-decoration: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

h3 {
    background-color: #5C4033;
    color: white;
}

input[type="submit"] {
    color: red;
}

.btn{
    width: 200%;
}