

.parent {
    box-sizing: border-box;
    position: fixed;
    top: 27px;
    width: 100%;
    height: calc(100vh - 27px);
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    padding: 10px;
}

.karakter, .fegyver, .pancel, .tp, .stat {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.karakter {
    grid-area: 1 / 1 / 4 / 3;
}

.tp {
    grid-area: 1 / 4 / 2 / 7;
}

.stat {
    grid-area: 2 / 4 / 6 / 7;
}

.pancel {
    grid-area: 4 / 1 / 6 / 2;
}

.fegyver {
    grid-area: 4 / 2 / 6 / 3;
}

img{
    height: 150%;
;
}

.stats {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, 60%);
    grid-gap: 10px;
    place-items: center;
}

.stats > div {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    cursor: pointer;
}

a{
    background-color: grey;
    color: black;
    border-radius: 15px;
width: auto;
}

a:hover{
    text-decoration: none;
    border:1px solid black;
    border-radius: 15px;
}
img{
    border: 4px solid black;
}